@import "tailwindcss";

@theme {
  --color-obsidian: #000000;
  --color-alabaster: #FAFAFA;
  --color-zinc-950: #09090B;
  --color-zinc-600: #52525B;
  --color-zinc-300: #D1D5DB;
  
  --font-display: var(--font-display); 
  --font-sans: var(--font-sans);
}

body {
  background-color: var(--color-obsidian);
  color: var(--color-alabaster);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;
}

/* Typography Utilities */
.text-display {
  font-family: var(--font-display);
}

.text-sans {
  font-family: var(--font-sans);
}