@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@theme {
  --color-monte-bg: #F9F9F7;
  --color-monte-text: #1A1A1A;
  
  --font-serif: 'Playfair Display', serif;
  --font-sans: 'Manrope', sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-monte-bg);
  color: var(--color-monte-text);
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans); /* Monte uses sans for headers mostly */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
